/* DEFAULT COLOR THEME */
/* Search */
.standard .m-search-container {
  background: #000;
  border: 1px solid white;
}

.standard .m-search-container input::-webkit-input-placeholder,
.standard .m-search-container input::-moz-placeholder {
  color: white !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.standard .m-search-submit {
  color: #aaa;
}

.standard body:before {
  border-color: #fff;
}

@media all and (min-width: 716px) {
  .standard .l-main,
  .standard .l-footer {
    margin-left: 0;
    border-left: 13em solid #e4f3f5;
  }
}
.standard a {
  color: #cc4400;
}

.standard a:hover {
  color: #03c;
  border-color: #ccc;
}

.standard .u-masthead {
  background: #000;
}

.standard .u-masthead:hover {
  background: #aa0000;
}

.standard .u-masthead a {
  color: white;
}

.standard .u-masthead a i {
  border-bottom: 1px solid #cccccc;
}

.standard .u-masthead:hover a i {
  border-bottom: 1px solid #ffccbb;
}

.standard .u-masthead:hover a {
  color: white;
}

.standard .u-masthead a:before {
  border-color: black;
}

.standard .u-masthead:hover a:before {
  border-color: #aa0000;
}

.standard h2 {
  color: #a00;
}

/* .subsec-container {
	padding: 1% 0;
} */
/* Apply nav */
.standard .u-navsite-level-1 > li > a,
.standard .u-navsite-level-1 > li.u-navsite-current:hover > a,
.standard .u-navsite-level-1 > li.u-navsite-current > a,
.standard .u-navsite-level-1 > li.u-navsite-open:hover > a,
.standard .u-navsite-level-1 > li.u-navsite-open > a {
  color: #3e595c;
}

.standard .u-navsite-level-1 > li:hover {
  background: #000;
}

.standard .u-navsite-level-1 > li:hover > a {
  color: #fff;
}

.standard .u-navsite-level-1 > li.u-navsite-open,
.standard .u-navsite-level-1 > li.u-navsite-current {
  background: #D3E6E8;
  border: 1px dashed #eeeeee;
  border-left: none;
  border-right: none;
  border-color: #D3E6E8;
}

.standard .u-navsite-level-2 > li > a {
  color: #b30;
}

.standard .u-navsite-level-2 > li.u-navsite-current > a,
.standard .u-navsite-level-2 > li > a:hover {
  background: #c8e3e5;
  background: #000;
  color: #fff;
}

.standard li:hover .u-navsite-level-2 {
  background: #000;
  border: 1px solid #aa0000;
}

.standard li.u-navsite-open:hover .u-navsite-level-2 {
  background: none;
  border: none;
}

.standard .u-navsite-level-2 > li.u-navsite-current > a {
  color: #000;
}

.standard .u-navsite-level-3 {
  background: #fff;
  border-bottom: 1px solid #d4dfe0;
}

.standard .u-navsite-level-3 > li > a {
  border-bottom: 1px dotted #eeeeee;
}

.standard .u-navsite-level-3 > li:last-child > a {
  border-color: #fff;
}

.standard .u-navsite-level-2 .u-navsite-level-3 > li > a:hover {
  background: #eee;
  border-bottom: 1px solid #eeeeee;
}



/*	Layout
	------ */

@media all and (min-width: 716px) {
	.subsite .introsec-container {
		max-width: 700px;
	}
}


/*	Subsite masthead
	---------------- */

.u-sitetitle {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 2em;
	border-bottom: 2px solid #eee;
	padding-bottom: 1em;
}
	.u-sitetitle a {
		border: none;
	}





