.note--requestInfo {
    overflow: hidden;
    padding: 3%;
    background-color: #fff;
    position: relative;
}
a.requestInfo__button {
    text-align: center;
    background-color: #f40;
    /* margin-right: 1em; */
    padding: .75em;
    border-radius: .5em;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
    margin-bottom: 0;
    box-sizing: border-box;
    display: block;
    border-bottom: 2px solid #b00;
}
a.requestInfo__button:hover {
	border-bottom: none;
	background: #000;
	color: #fff;
	margin-top: 2px;
}
.requestInfo__description {
	margin-top: .75em

}
.requestInfo__description p {
	font-size: .9em;
	line-height: 1.2;
	color: #666;
}

@media (min-width:500px) {
	a.requestInfo__button {
	    display: inline-block;
	    width: 25%;
	    float: left;
	}
	.requestInfo__description {
		position: absolute;
	    width: 69%;
	    box-sizing: border-box;
		right: 1%;
		top: 0;
		bottom: 0;
		margin-top: 0;
	}
	.requestInfo__description p {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}
}