@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-phone-16px, .icon-menu, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-bubble, .icon-close, .icon-checkmark, .icon-feed, .icon-location, .icon-tag, .icon-star, .icon-search, .icon-warning, .icon-forward, .icon-twitter, .icon-play, .icon-facebook, .icon-cog, .icon-mail, .icon-mug, .icon-phone, .icon-music, .icon-play-2, .icon-paperclip {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-phone-16px:before {
  content: "\e019";
}

.icon-menu:before {
  content: "\e000";
}

.icon-arrow-up-left:before {
  content: "\e001";
}

.icon-arrow-up:before {
  content: "\e002";
}

.icon-arrow-up-right:before {
  content: "\e003";
}

.icon-arrow-right:before {
  content: "\e004";
}

.icon-arrow-down-right:before {
  content: "\e005";
}

.icon-arrow-down:before {
  content: "\e006";
}

.icon-arrow-down-left:before {
  content: "\e007";
}

.icon-arrow-left:before {
  content: "\e008";
}

.icon-bubble:before {
  content: "\e009";
}

.icon-close:before {
  content: "\e00a";
}

.icon-checkmark:before {
  content: "\e00b";
}

.icon-feed:before {
  content: "\e00c";
}

.icon-location:before {
  content: "\e00d";
}

.icon-tag:before {
  content: "\e00e";
}

.icon-star:before {
  content: "\e00f";
}

.icon-search:before {
  content: "\e010";
}

.icon-warning:before {
  content: "\e011";
}

.icon-forward:before {
  content: "\e013";
}

.icon-twitter:before {
  content: "\e014";
}

.icon-play:before {
  content: "\e015";
}

.icon-facebook:before {
  content: "\e016";
}

.icon-cog:before {
  content: "\e017";
}

.icon-mail:before {
  content: "\e01a";
}

.icon-mug:before {
  content: "\e018";
}

.icon-phone:before {
  content: "\e01b";
}

.icon-music:before {
  content: "\e012";
}

.icon-play-2:before {
  content: "\e01c";
}

.icon-paperclip:before {
  content: "\e01d";
}

/*
 *
 * ==========================================================================
 *  Typography
 * ========================================================================== 
 */
/* HTML elements
 * ========================================================================== */
a {
  text-decoration: none;
}

html body .l-page .l-header h1 {
  font-size: 22.4px;
  font-size: 1.4em;
  /*	font-size: 1.4em;
  */
}

p em, p i {
  font-family: "adelle";
  font-weight: 300;
  font-size: .9em;
  /*	font-size: 1em;
  */
}

h2 {
  font-family: "adelle";
  font-size: 2em;
  font-weight: 100;
  line-height: 110%;
  margin-bottom: .5em;
}

h3 {
  font-family: "proxima-nova";
  /*	font-family: "freight-sans-pro"; */
  font-weight: 700;
  font-size: 22.4px;
  font-size: 1.2em;
  /*		font-size: 1.4em;
  */
  line-height: 120%;
  margin: 0 0 6.4px 0;
  margin: 0 0 0.5em 0;
  /*	margin:0 0 .4em 0;
  */
}

h3 i, h3 em {
  font-weight: 700;
}

/*
h3 i, h3 em {
  font-size: 16px;
  font-size: .8em;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  opacity: .7;
  display: block;
  margin-top: .2em;
} */
h4 {
  font-family: "adelle";
  font-weight: 700;
  font-size: 16px;
  font-size: 1em;
  margin-bottom: 6.4px;
  margin-bottom: 0.4em;
  margin-top: 2em;
  /*	font-size: 1em;
  	margin-bottom: .4em;
  	margin-top: 1em;
  	*/
  line-height: 125%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

p + h4 {
  margin-top: 32px;
  margin-top: 2em;
  /*margin-top: 2em;
  */
}

html {
  font-family: "proxima-nova";
  /*	font-family: "freight-sans-pro"; */
}

.l-content ul li {
  list-style: none;
  line-height: 125%;
  padding-left: 38.4px;
  padding-left: 1.3em;
  /*	padding-left: 2.4em;
  */
  position: relative;
}

.l-content ul li:before {
  content: "\25C6";
  font-size: 9.6px;
  font-size: 0.6em;
  margin: 0 16px;
  margin: 0 0 0 0;
  /*		font-size: .6em;
  		margin: 0 1em;
  		*/
  position: absolute;
  left: 0;
}

.figcaption, p {
  font-weight: normal;
  font-size: 19.2px;
  font-size: 1.1em;
  /*	font-size: 1.2em;
  */
  line-height: 145%;
  font-family: "proxima-nova";
  /*	font-family: "freight-sans-pro"; */
  margin-bottom: 19.2px;
  margin-bottom: 1.2em;
  /*	margin-bottom: 1.2em;
  */
}

p {
  line-height: 140%;
}

p:first-of-type:last-child {
  margin-bottom: 0;
}

p.caption {
  margin-top: .75em;
}

/* Classes */
.figcaption,
p.caption {
  font-family: "adelle", serif;
  font-size: 12.8px;
  font-size: 0.8em;
  /*	font-size: .8em;
  */
  font-style: italic;
}

p.caption strong {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.image-bar p.caption {
  margin-left: 5.25%;
}

.intro, .intro p {
  font-family: "adelle";
  font-size: 22.4px;
  font-size: 1.4em;
  /*	font-size: 1.4em;
  */
  font-weight: 100;
  letter-spacing: normal;
  line-height: 135%;
}

.intro b,
.intro strong {
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.index-list li:before {
  content: "";
  margin: 0;
}

.jumplinks h3 {
  font-family: "proxima-nova-condensed";
  font-size: 16px;
  font-size: .9em;
  /*	font-size: 1em;
  */
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.jumplinks h3:after {
  content: "\21A3";
  margin-left: 3.2px;
  margin-left: 0.2em;
  /*		margin-left: .2em;
  */
}

.jumplinks ul {
  /*	-moz-column-count: 4;
  	-moz-column-gap: 20px;
  	-webkit-column-count: 4;
  	-webkit-column-gap: 20px;
  	column-count: 4;
  	column-gap: 20px; */
  line-height: 22.4px;
  line-height: 1.4em;
  /*	line-height: 1.4em;
  */
}

.l-content .jumplinks li {
  display: inline;
  margin-right: 4.8px;
  margin-right: 0.3em;
  /*		margin-right: .3em;
  */
  padding: 0;
}

.l-content .jumplinks li:before {
  content: none;
  margin: 0;
}

.jumplinks li:after {
  content: "\00B7";
  margin-left: 8px;
  margin-left: 0.5em;
  /*			margin-left: .5em;
  */
}

.jumplinks li:last-child:after {
  content: none;
}

.l-main .largenumber-list li {
  display: block;
  clear: both;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
  line-height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  padding-left: 48px;
  padding-left: 3em;
  padding: 9.6px 0 9.6px 48px;
  padding: 0.6em 0 0.6em 3em;
  /*		padding-left: 3em;
  	padding: .6em 0 .6em 3em;
  	*/
}

.l-main .largenumber-list li:before {
  content: "";
}

.largenumber-list li:last-child {
  border: none;
}

.largenumber-list li i {
  position: absolute;
  left: 0;
  font-style: normal;
  font-size: 22.4px;
  font-size: 1.4em;
  /*		font-size: 1.4em;
  */
  font-family: "adelle";
  width: 48px;
  width: 3em;
  /*		width: 3em;
  */
}

.mailing-address {
  line-height: 125%;
}

.m-alert {
  font-size: 16px;
  font-size: 1em;
  /*	font-size: 1em;
  */
  font-weight: 500;
}

.m-imagewithcaption p {
  font-family: "adelle";
  font-style: italic;
  font-size: 12.8px;
  font-size: 0.8em;
  /*	font-size: .8em;
  */
}

.m-imagewithcaption p i,
.m-imagewithcaption p em {
  font-family: "adelle";
  font-style: normal;
}

.more-link {
  font-family: "proxima-nova-condensed";
  font-size: 16px;
  font-size: .9em;
  /*	font-size: 1em;
  */
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  color: #888;
  margin-left: 3.2px;
  margin-left: 0.2em;
  /*	margin-left: .2em;
  */
  white-space: nowrap;
}

.more-link:hover {
  color: #000;
}

.more-link:after {
  content: "\21A3";
  margin-left: 4px;
}

.m-note {
  font-size: 16px;
  font-size: 1em;
  /*	font-size: 1em;
  */
}

.m-video h3, .m-video h4 {
  font-family: "proxima-nova";
  font-weight: 500;
}

.sec-content a {
  font-weight: 700;
}

.jumplinks .sec-content a {
  font-weight: normal;
}

.special p {
  font-weight: 100;
  font-size: 19.2px;
  font-size: 1.2em;
  /*	font-size: 1.2em;
  */
  line-height: 155%;
  font-family: "adelle";
}

.smaller-type p {
  font-size: 17.6px;
  font-size: 1.1em;
  /*	font-size: 1.1em;
  */
  font-weight: 300;
}

p.small-note {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: .9em;
}

.u-navsite li:before {
  content: "";
}

/* Classes
 * ========================================================================== */
.index-list li i {
  font-family: "adelle";
}

.info-chunk h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1em;
  /*		font-size: 1em;
  */
  letter-spacing: 1px;
}

.info-chunk ul {
  margin-bottom: 16px;
  margin-bottom: 1em;
  /*		margin-bottom: 1em;
  */
}

.info-chunk p {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  font-size: 1em;
  /*		font-size: 1em;
  */
  line-height: 120%;
}

.no-illstr h2 {
  margin-bottom: 32px;
  margin-bottom: 2em;
  /*margin-bottom: 2em;
  */
}

html .l-content {
  font-size: 98%;
}

@media all and (min-width: 600px) {
  html .l-content {
    font-size: 100%;
  }

  h2 {
    font-family: "adelle";
    font-size: 2.4em;
    line-height: 110%;
  }

  .u-pagetitle {
    padding-top: 1em;
    position: relative;
    z-index: 100;
  }
}
@media all and (min-width: 1024px) {
  h2 {
    font-family: "adelle";
    font-size: 3em;
    line-height: 110%;
  }
}
